.projects {
    text-align: center;
    padding: 50px;
    background-color: #fff;
}
  
.projects h2 {
    color: #4B0082;
    font-size: 2.5rem;
}
  
.projects ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
}

.projects li {
    color: #333;
    font-size: 1.1rem;
    margin: 10px 0; /* Space between projects */
}
